*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(248, 240, 240);
}
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(231, 231, 229, 0.486) ;
    height: 50px;
}
.V {
    position: absolute;
    top: 0%;
    width: 100px;
    height: 30px;
    margin-top: 0px;
    justify-content: center;
    opacity: 0;
    overflow: hidden;
}
.nav-container a {
    text-decoration: none;
    color: black;
}
.V:hover {
    background-color: rgb(189, 187, 184);
    width: 12%;
    height: 100vh;
    transition: 1s;
    opacity: .7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.categories {

}
.categories-items {
}
.design {
    position: absolute;
    z-index: -1;
}
.front-img {
    height: 100vh;
    width: 100%;
}
.some-text {
    top: 30%;
    position: absolute;
    color:black;
    width: 40%;
    background-color: rgba(199, 199, 199, 0.651);
    margin: 10%;
}
